{% extends 'base.html.twig' %}

{% block title %}Création d'un produit{% endblock %}

{% block content %}
    <div class="section" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">
                Création d'un produit
            </h1>
            <div class="row">
                {%  include "menu.html.twig" with { current: "homepage" } %}
                <div class="col m7">
                    {{  form_start(form) }}
                    {{  form_widget(form) }}
                    <button type="submit">Enregistrer</button>
                    {{  form_end(form) }}
                </div>
            </div>
            {% include "footer.html.twig" %}
        </div>
    </div>
{% endblock content %}
