<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Formation Symfony{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/materialize.min.css', 'materialize') }}">
            <link rel="stylesheet" href="{{ asset('styles/solarized-dark.min.css', 'highlight') }}">
        {% endblock %}
    </head>
    <body>
        {% block header %}
        {% endblock header %}

        {% block message %}
        {% for messages in  app.flashes %}
            <div class="section" id="index-banner">
                <div class="container blue-grey darken-1 white-text">
                {%  for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        {% endblock %}

        {% block content %}
        {% endblock content %}

        {% block footer %}
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/materialize.min.js', 'materialize') }}"></script>
            <script src="{{ asset('highlight.min.js', 'highlight') }}"></script>
            <script>hljs.initHighlightingOnLoad();</script>
        {% endblock %}
    </body>
</html>
