{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block content %}
    <div class="section" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text">
                le «M» de MVC
            </h1>
            <div class="row">
                {%  include "menu.html.twig" with { current: "homepage" } %}
                <div class="col m7">
                    <p>Nous allons maintenant interagir avec une base de données</p>
                    <ul>
                        {% for product in products %}
                            <li>{{ product.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% include "footer.html.twig" %}
        </div>
    </div>
{% endblock content %}
