<aside class="col m3">
    <h5>Menu</h5>
    <ul>
        <li><a class="waves-effect waves-light btn" href="{{ path("homepage") }}">Page d'accueil</a></li>
        <li><a class="waves-effect waves-light btn" href="{{ path("product_create") }}">Nouveau produit</a></li>
    </ul>
</aside>
